@model TrashCollector2._0.Models.CustomerAccount

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.Address.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.Address.State)
        </td>
        <td>
            @Html.DisplayFor(model => model.Address.ZipCode)
        </td>
        <td>
            @*@Html.ActionLink("ManagePickupDays", "ManagePickupDays", "CustomerAccounts", new { id = item.CustomerId }) |
            @Html.ActionLink("AccountDetails", "Details", new { id=item.CustomerId }) |*@
        </td>
    </tr>


</table>
